{{#sketchClass.deleted}}
<div class="alert alert-warn" style="margin-bottom:10px;">
  This sketch was created using the "{{sketchClass.name}}" template, which is
  no longer available. You will not be able to copy this sketch or make new
  sketches of this type.
</div>
{{/sketchClass.deleted}}


<div class="reportSection">
  <h4>Population<a href="#" data-toggle-node="54d9796efa94e697759d0a86" data-visible="false">show layer</a></h4>
  <p class="large">The total population of the countries within the sketch is <strong>{{numpeople}}</strong>, which is <strong>{{percpeople}}%</strong> of the population within the PACIOCEA region.
  </p>
    <div><a class="details" href="#">show details</a>
    <div class="hidden">
      <p>
		Rapid population growth characterizes the region and has doubled since 1975 and is expected to double again by 2050. This is mainly due to Papua New Guinea’s, Solomon’s and Vanuatu’s rapid population increase rates. Papua New Guinea represents 70% of the total of the PICTs population in 2013.
      </p>
    </div>
  </div>
</div>

<div class="reportSection tableContainer">
  <h4>Population Density<a href="#" data-toggle-node="54d9796efa94e697759d0a88" data-visible="false">show layer</a></h4>
    <table> 
    <thead>
      <tr>
        <th>Country</th>
        <th>Population Density (Inhabitants/km<super>2</super>)</th>
      </tr>
     </thead>
     <tbody> 
      {{#pop_density}}
        <tr>
          <td>{{Country}}</td>
          <td>{{Density}}</td>
        </tr>
      {{/pop_density}}
    </tbody>
  </table>
  <div><a class="details" href="#">show details</a>
    <div class="hidden">
      <p>
		    Papua New Guinea and its Melanesian neighbours count for 88% of the Pacific Island population (PNG =70%). These populations live on the biggest islands, and population density in the sub-region remains very low, except in cities. Micronesian and Polynesian countries have smaller populations, but their territories are archipelagos composed mainly of small islands, atolls and a few high islands. Density there is higher and reaches high values (higher than Japan or India), which are probably underestimated due to numerous uninhabited islands entering the calculation. These 2 sub-regions are also the most urbanized, and densities can reach locally, on some atolls, values comparable to those of Hong-Kong or Sydney. In many countries, population is concentrated on a few main islands and densities, which are higher there, will keep increasing with rapid population growth and rural emigration to urban places of these islands.
      </p>
    </div>
  </div>
</div>

<div class="reportSection tableContainer">
  <h4>Low Lands<a href="#" data-toggle-node="54d9796efa94e697759d0a8c" data-visible="false">show layer</a></h4>
    <table> 
    <thead>
      <tr>
        <th></th>
        <th>0-20%</th>
        <th>20-40%</th>
        <th>40-60%</th>
        <th>60-80%</th>
        <th>80-100%</th>
      </tr>
     </thead>
     <tbody> 
        <tr>
          <td>Percent</td>
          <td>{{LL_BIN_0}}</td>
          <td>{{LL_BIN_1}}</td>
          <td>{{LL_BIN_2}}</td>
          <td>{{LL_BIN_3}}</td>
          <td>{{LL_BIN_4}}</td>
        </tr>
    </tbody>
  </table>
  <div><a class="details" href="#">show details</a>
    <div class="hidden">
      <p>
        Proportion of land lying under 10m height in the total land area of every 1 degree grid division
      </p>
    </div>
  </div>
</div>

<div class="reportSection tableContainer">
  <h4>Net Migration<a href="#" data-toggle-node="54d9796efa94e697759d0a8a" data-visible="false">show layer</a></h4>
    <table> 
    <thead>
      <tr>
        <th>Country</th>
        <th>Net Migration Rate (%)</th>
      </tr>
     </thead>
     <tbody> 
      {{#net_migration}}
        <tr>
          <td>{{Country}}</td>
          <td>{{Migration}}</td>
        </tr>
      {{/net_migration}}
    </tbody>
  </table>
  <div><a class="details" href="#">show details</a>
    <div class="hidden">
      <p>
		Emigration acts as a major driving force in Polynesia and Micronesia and explains their slowest growth, whereas Melanesia is lacking emigration possibilities. In 2010, about 850 000 Pacific-born people (or from Pacific ethnic-descent) lived in Pacific Rim countries (New Zealand, Australia, USA, Canada, with Asia being of increasing importance). This is more than the total population of Micronesia or Polynesia and it has real impact on national economies through remittances that can represent close to 30% of the GDP for some countries.
      </p>
    </div>
  </div>
</div>

<div class="reportSection tableContainer">
  <h4>Natural Hazards: Number of Hazards<a href="#" data-toggle-node="54d9796efa94e697759d0a7f" data-visible="false">show layer</a></h4>
    <table> 
    <thead>
      <tr>
        <th>Country</th>
        <th>Number of Hazards</th>
      </tr>
     </thead>
     <tbody> 
      {{#num_hazards}}
        <tr>
          <td>{{Country}}</td>
          <td>{{Disasters}}</td>
        </tr>
      {{/num_hazards}}
    </tbody>
  </table>
  <div><a class="details" href="#">show details</a>
    <div class="hidden">
      <p>
		A natural hazard is an event occurring naturally that will have a negative effect on people or the environment. The PICTs are very vulnerable to natural disasters, especially cyclones, droughts, infectious diseases, earthquakes and tsunamis. The effects of these natural hazards are multifaceted. Most of the effects have adverse economic, environment and human consequences. Some natural hazards, as extreme waves, drought, floods and sea level rise have shown a significant increasing trend in the last decades related to anthropogenic global warming. It’s important to consider the very strong El Niño impact on these variables. Since the 1950s, natural disasters have directly affected more than 3.4 million people and led to more than 1,700 reported deaths in the region (not considering Papua New Guinea). In the 1990s alone, reported natural disasters cost the PICTs 2.8 billion USD.
      </p>
    </div>
  </div>
</div>

<div class="reportSection tableContainer">
  <h4>Natural Hazards: Impact on GDP<a href="#" data-toggle-node="54d9796efa94e697759d0a7d" data-visible="false">show layer</a></h4>
    <table> 
    <thead>
      <tr>
        <th>Country</th>
        <th>Impact on GDP (%)</th>
      </tr>
     </thead>
     <tbody> 
      {{#impact_on_gdp}}
        <tr>
          <td>{{Country}}</td>
          <td>{{Impact}}</td>
        </tr>
      {{/impact_on_gdp}}
    </tbody>
  </table>
  <div><a class="details" href="#">show details</a>
    <div class="hidden">
      <p>
		Natural hazards – such as tsunamis, earthquakes, cyclones and floods – are costly to society, in terms of both human and financial losses. Governments ultimately bear the full cost of the havoc brought by natural disasters, which can create an enormous strain on limited government budgets, especially in developing countries. This is even before we begin to contemplate the development impact and how the poorest of the poor are disproportionately affected. By contrast, developing countries do not have the same degree of access to financial and insurance markets. They face limited revenue streams, limited fiscal flexibility, and limited access to quick liquidity in the wake of an event. This is particularly so for Small Island Developing States, such as the Pacific island nations.
      </p>
    </div>
  </div>
</div>

<div class="reportSection tableContainer">
  <h4>Natural Hazards: Number of People Affected<a href="#" data-toggle-node="54d9796efa94e697759d0a81" data-visible="false">show layer</a></h4>
    <table> 
    <thead>
      <tr>
        <th>Country</th>
        <th>Number of People</th>
      </tr>
     </thead>
     <tbody> 
      {{#num_affected}}
        <tr>
          <td>{{Country}}</td>
          <td>{{People}}</td>
        </tr>
      {{/num_affected}}
    </tbody>
  </table>
  <div><a class="details" href="#">show details</a>
    <div class="hidden">
      <p>
		The countries with the most people affected are Papua New Guinea and Fiji, followed by Vanuatu and the Solomon Islands. These countries also have the highest number of disasters and are strongly impacted by cyclonic, volcanic and earthquake activities. Western Samoa and Tonga present a relatively low number of disasters but a high number of paeople are affected. There have been three key historical stages in disaster risk management within the PICTs. Initially it would appear that Pacific island communities maintained local control over disaster response by maintaining food security, having resilient shelters and through local and regional social, political and economic interdependence. Many communities are still quite resilient, especially in rural areas.
      </p>
    </div>
  </div>
</div>
<div class="reportSection tableContainer">
  <h4>Natural Hazards: Average Damage Cost<a href="#" data-toggle-node="54d9796efa94e697759d0a83" data-visible="false">show layer</a></h4>
    <table> 
    <thead>
      <tr>
        <th>Country</th>
        <th>Average Damage (USD)</th>
      </tr>
     </thead>
     <tbody> 
      {{#avg_damage}}
        <tr>
          <td>{{Country}}</td>
          <td>${{Cost}}</td>
        </tr>
      {{/avg_damage}}
    </tbody>
  </table>
  <div><a class="details" href="#">show details</a>
    <div class="hidden">
      <p>
		Since the 1950s, natural disasters have directly affected more than 3.4 million people and led to more than 1,700 reported deaths in the region (not considering Papua New Guinea). In the 1990s alone, reported natural disasters cost the PICTs 2.8 billion USD.
      </p>
    </div>
  </div>
</div>

