{{#sketchClass.deleted}}
<div class="alert alert-warn" style="margin-bottom:10px;">
  This sketch was created using the "{{sketchClass.name}}" template, which is
  no longer available. You will not be able to copy this sketch or make new
  sketches of this type.
</div>
{{/sketchClass.deleted}}


<div class="reportSection tableContainer">
  <h4>Biodiversity</h4>
    <table> 
    <thead>
      <tr>
        <th>Habitat</th>
        <th>Area (sq. km)</a></th>
        <th>Area (% of total region)</th>
      </tr>
     </thead>
     <tbody> 
      <tr>
  		<td>Coral</td>
        <td>{{coral_area}}</td>
        <td>{{coral_perc}}</td>
      </tr>
      <tr>
  		<td>Mangroves</td>
        <td>{{mangroves_area}}</td>
        <td>{{mangroves_perc}}</td>
      </tr>
       <tr>
  		<td>Seagrass</td>
        <td>{{seagrass_area}}</td>
        <td>{{seagrass_perc}}</td>
      </tr>
    </tbody>
  </table>
  <p class="large">
  	The table shows the area of the habitat type (in square kilometers) within the {{^isCollection}}sketch,
  	{{/isCollection}}
  	{{#isCollection}}collection,{{/isCollection}} as well as the percent of the total PACIOCEA habitat found within each {{^isCollection}}sketch.{{/isCollection}}
  	{{#isCollection}}collection.{{/isCollection}}
  </p>
</div>
<div class="reportSection tableContainer">
  <h4>Deep Coral</h4>
    <table> 
    <thead>
      <tr>
        <th></th>
        <th>High probability for at least 1 of 2 species</a></th>
        <th>Medium probability for at least 1 of 2 species</th>
        <th>Low probability for either species</th>
      </tr>
     </thead>
     <tbody> 
      {{#deep_coral}}
        <tr>
          <td>{{NAME}}</td>
          <td>{{HIGH}}</td>
          <td>{{MED}}</td>
          <td>{{LOW}}</td>
        </tr>
      {{/deep_coral}}
    </tbody>
  </table>
  <div><a class="details" href="#">show details</a>
    <div class="hidden">
      <p>
        Some species of deep sea coral can build real reefs and consequently, constitute habitats for a large range of deep species. These species are extremely vulnerable for threat from deep fisheries or deep sea mining. Davis and Guinotte (2011) performed a modeling approach for 2 habitat building coral species: <i>Enallopsammia rostrata</i> and <i>Solenosmilia variabilis</i>.
        
      </p>
    </div>
  </div>
</div>


<div class="reportSection">
  <h4>Seamounts <a href="#" data-toggle-node="54dbe1e5fa94e697759d2564" data-visible="false">show seamount layer
  </a></h4>
  <p style="padding-top:5px;"> The {{#isCollection}}collection{{/isCollection}}{{^isCollection}} area of interest {{/isCollection}} includes <strong>{{num_seamounts}} seamounts</strong> with an average depth of <strong>{{avg_depth_seamounts}} meters.
  </strong>
  {{#has_seamounts}} 
    The average distance between seamounts within the {{#isCollection}}collection{{/isCollection}}{{^isCollection}} area of 
    interest {{/isCollection}} is <strong>{{avg_dist_seamounts}} km</strong>.
  {{/has_seamounts}}
    <table> 
    <thead>
      <tr>
        <th></th>
        <th>Shallow (0 - 200m)</a></th>
        <th>Bathyal (200 - 4000m)</th>
        <th>Abyssal (> 4000m)</th>
      </tr>
     </thead>
     <tbody> 
        <tr>
          <td>Count</td>
          {{#bio_seamounts}}
            <td>{{SHALLOW}}</td>
            <td>{{BATHYAL}}</td>
            <td>{{ABYSSAL}}</td>
          {{/bio_seamounts}}
        </tr>
    </tbody>
  </table>
  <div><a class="details" href="#">show details</a>
    <div class="hidden">
      <div class="list-header">The physical structure of some seamounts enables the formation of hydrographic features and current flows that can:</div>
      <ol>
        <li>Enhance local production through upwelling </li>
        <li>Keep species and production processes concentrated over the seamount  </li>
        <li>Have a concentration of zooplankton and mesopelagic fish meaning rich feeding grounds and spawning areas for fish and higher predators, and hence fisheries. Seamounts are a hotspot for biodiverstiy but are still understudied.</li>
      </ol>
    </div>
  </div>
</div>
<div class="reportSection tableContainer">
  <h4>Hydrothermal Vents</h4>
    <table> 
    <thead>
      <tr>
        <th></th>
        <th>Confirmed</th>
        <th>Suspected</a></th>
      </tr>
     </thead>
     <tbody> 
        <tr>
          <td>Count</td>
          {{#vents}}
            <td>{{CONFIRMED}}</td>
            <td>{{SUSPECTED}}</td>
          {{/vents}}
        </tr>
    </tbody>
  </table>
  <div><a class="details" href="#">show details</a>
    <div class="hidden">
      <p>
        Hydrothermal vents host communities that not rely on photosynthesis for primary production. Both systems are largely driven by chemosynthetic derived energy. They are generally located along spreading ridges and are considered as “oasis of biodiversity” in deep environment. They may represent hotspot of biodiversity, especially for the shallower ones. Theses ecosystems are extremely sensitive due to the high level of endemics species and their slow recovery potential.
      </p>
    </div>
  </div>
</div>
{{#hasMPAs}}
<div class="reportSection tableContainer">
  <h4>Marine Protected Areas</h4>
    <table> 
    <thead>
      <tr>
        <th>IUCN Category</th>
        <th>Number of MPAs</th>
        <th>Area (sq. km)</th>
        <th>Area (%)</th>
      </tr>
     </thead>
      {{#mpa_cats}}
      <tr>
        <td>{{CAT}}</td>
        <td>{{NUM_MPAS}}</td>
        <td>{{MPA_AREA}}</td>
        <td>{{MPA_PERC}}</td>
      </tr>
      {{/mpa_cats}}
  </table>
  <p class="large">
    The table shows the number and area of Marine Protected Areas (MPAs) for each IUCN category within the {{^isCollection}}sketch,
    {{/isCollection}}
    {{#isCollection}}collection,{{/isCollection}} as well as the aerial percent of the {{^isCollection}}sketch{{/isCollection}}
    {{#isCollection}}collection{{/isCollection}} within each category.
  </p>
</div>
{{/hasMPAs}}
{{^hasMPAs}}
<div class="reportSection">
  <h4>Marine Protected Areas</h4>
  <p class="large">There are <strong>no</strong> Marine Protected Areas within this {{^isCollection}}sketch{{/isCollection}}
    {{#isCollection}}collection{{/isCollection}}
  </p>
</div>
{{/hasMPAs}}