{{#sketchClass.deleted}}
<div class="alert alert-warn" style="margin-bottom:10px;">
  This sketch was created using the "{{sketchClass.name}}" template, which is
  no longer available. You will not be able to copy this sketch or make new
  sketches of this type.
</div>
{{/sketchClass.deleted}}


<div class="reportSection tableContainer">
  <h4>Biodiversity</h4>
    <table> 
    <thead>
      <tr>
        <th>Habitat</th>
        <th>Area (sq. km)</a></th>
        <th>Area (% of total region)</th>
      </tr>
     </thead>
     <tbody> 
      <tr>
  		<td>Coral</td>
        <td>{{coral_area}}</td>
        <td>{{coral_perc}}</td>
      </tr>
      <tr>
  		<td>Mangroves</td>
        <td>{{mangroves_area}}</td>
        <td>{{mangroves_perc}}</td>
      </tr>
       <tr>
  		<td>Seagrass</td>
        <td>{{seagrass_area}}</td>
        <td>{{seagrass_perc}}</td>
      </tr>
    </tbody>
  </table>
  <p class="large">
  	The table shows the area of the habitat type (in square kilometers) within the {{^isCollection}}sketch,
  	{{/isCollection}}
  	{{#isCollection}}collection,{{/isCollection}} as well as the percent of the total PACIOCEA habitat found within each {{^isCollection}}sketch.{{/isCollection}}
  	{{#isCollection}}collection.{{/isCollection}}
  </p>
</div>
{{#hasMPAs}}
<div class="reportSection tableContainer">
  <h4>Marine Protected Areas</h4>
    <table> 
    <thead>
      <tr>
        <th>IUCN Category</th>
        <th>Number of MPAs</th>
        <th>Area (sq. km)</th>
        <th>Area (%)</th>
      </tr>
     </thead>
      {{#mpa_cats}}
      <tr>
        <td>{{CAT}}</td>
        <td>{{NUM_MPAS}}</td>
        <td>{{MPA_AREA}}</td>
        <td>{{MPA_PERC}}</td>
      </tr>
      {{/mpa_cats}}
  </table>
  <p class="large">
    The table shows the number and area of Marine Protected Areas (MPAs) for each IUCN category within the {{^isCollection}}sketch,
    {{/isCollection}}
    {{#isCollection}}collection,{{/isCollection}} as well as the aerial percent of the {{^isCollection}}sketch{{/isCollection}}
    {{#isCollection}}collection{{/isCollection}} within each category.
  </p>
</div>
{{/hasMPAs}}
{{^hasMPAs}}
<div class="reportSection">
  <h4>Marine Protected Areas</h4>
  <p class="large">There are <strong>no</strong> Marine Protected Areas within this {{^isCollection}}sketch{{/isCollection}}
    {{#isCollection}}collection{{/isCollection}}
  </p>
</div>
{{/hasMPAs}}