{{#sketchClass.deleted}}
<div class="alert alert-warn" style="margin-bottom:10px;">
  This sketch was created using the "{{sketchClass.name}}" template, which is
  no longer available. You will not be able to copy this sketch or make new
  sketches of this type.
</div>
{{/sketchClass.deleted}}


<div class="reportSection size">
  <h4>Size</h4>
  <p class="large">
    This {{#isCollection}}collection{{/isCollection}}{{^isCollection}} area of interest {{/isCollection}} is <strong>{{size}} square kilometers</strong>.
  </p>
</div>

<div class="reportSection tableContainer">
  <h4>Deep Sea </h4>
  <div class="in-report-header">Deep Sea Minerals:</div>
  <table> 
    <thead>
      <tr>
        <th style="width:170px;">Type</th>
        <th>Area (sq. km)</a></th>
        <th>Area (% of total region)</th>
      </tr>
      {{#mining}}
      <tr>
        <td>{{TYPE}}</td>
        <td>{{SIZE_SQKM}}</td>
        <td>{{PERC_TOT}}</td>
      </tr>
      {{/mining}}
    </thead>
  </table>
  <div><a class="details" href="#">show details</a>
    <div class="hidden">
      <div class="list-header">The deep sea resources available for extraction are divided into 4 types:</div>
      <ol>
        <li>Polymetallic Nodules (Manganese, Copper, Nickel, Cobalt) - 4,000 - 6,000 m depth</li>
        <li>Cobalt-rich Manganese Crusts (Cobalt) - 800 - 3,000 m depth</li>
        <li>Sulphide Deposits (Copper) - 1,500 - 4,000 m depth</li>
        <li>Deep-sea mud (rare earth elements, yttrium) - 2,000 -6,000 m depth.</li>                                               
      </ol>
      <p>
          The DSM deposits are higher in mineral content than on-land deposits. Typical value of a tonne of land based ore is 50-200 USD, for sea floor deposits it’s 500-1500 USD. DSM mining in the PACIOCEA  has a strong potential.
      </p>
    </div>
  </div>
  <div class="in-report-header">Habitats in Seamounts:</div>
  <p style="padding-top:5px;"> The {{#isCollection}}collection{{/isCollection}}{{^isCollection}} area of interest {{/isCollection}} includes <strong>{{num_seamounts}} seamounts</strong> with an average depth of <strong>{{avg_depth_seamounts}} meters.</strong>
  {{#has_seamounts}} 
    The average distance between seamounts within the {{#isCollection}}collection{{/isCollection}}{{^isCollection}} area of 
    interest {{/isCollection}} is <strong>{{avg_dist_seamounts}} km</strong>.
  {{/has_seamounts}}
  <div><a class="details" href="#">show details</a>
    <div class="hidden">
      <div class="list-header">The physical structure of some seamounts enables the formation of hydrographic features and current flows that can:</div>
      <ol>
        <li>Enhance local production through upwelling </li>
        <li>Keep species and production processes concentrated over the seamount  </li>
        <li>Have a concentration of zooplankton and mesopelagic fish meaning rich feeding grounds and spawning areas for fish and higher predators, and hence fisheries. Seamounts are a hotspot for biodiverstiy but are still understudied.</li>
      </ol>
    </div>
  </div>
</div>
<div class="reportSection tableContainer">
  <h4>Coastal Catch </h4>
    {{#d3IsPresent}}
      <table data-paging="10" class="coastal_catch_table"> 
        <thead>
          <tr>
            <th class="sorting_col" style="width:250px;"><a class="catch_country sort_up" href="#">Country</a></th>
            <th><a  class="catch_in_eez sort_down" href="#" >Catch (in EEZ)</a></th>
            <th><a class="catch_perc sort_down" href="#">% of Total Catch in Region</a></th>
          </tr>
        </thead>
        <tbody class="coastal_catch_values"></tbody>
      </table>
    {{/d3IsPresent}}
    {{^d3IsPresent}}
      <div class="in-report-header">Coastal Catch:</div>
      <table data-paging="10">
        <thead>
          <tr>
            <th colspan="2"></th>
            <th colspan="4">Catch (in tonnes)</th>
          </tr>
          <tr>
            <th>Country</th>
            <th>% of Total Catch</th>
            <th>Total</th>
            <th>Demersal </th>
            <th>Pelagic  </th>
            <th>Invertebrate </th>
          </tr>
        </thead>
        <tbody>
          {{#coastal_catch}}
          <tr>
            <td>{{COUNTRY}}</td>
            <td>{{PERC_TOT}}</td>
            <td>{{TOT_TONS}}</td>
            <td>{{DEM_TONS}}</td>
            <td>{{PEL_TONS}}</td>
            <td>{{INV_TONS}}</td>
          </tr>
          {{/coastal_catch}}
        </tbody>
      </table>
    {{/d3IsPresent}}
    <div class="in-report-header">Commercial Catch</div>
      {{#has_comm_catch}}
      <p>
        The average commercial catch across EEZs in this area of interest is <strong>{{avg_comm_catch}} kg per person</strong>. 
        The average commercial catch within the entire PACIOCEA region is <strong>{{tot_comm_catch}} kg per person</strong>.
      </p>
      {{/has_comm_catch}}
      <table data-paging="10">
        <thead>

          <tr>
            <th>Country</th>
            <th>Catch (kg per capita)</th>
          </tr>
        </thead>
        <tbody>
          {{#commercial_catch}}
          <tr>
            <td>{{COUNTRY}}</td>
            <td>{{KG_CAP}}</td>
          </tr>
          {{/commercial_catch}}
        </tbody>
      </table>
      <div class="in-report-header">Subsistence Catch</div>
      {{#has_subsistence_catch}}
      <p>
        The average subsistence catch across EEZs in this area of interest is <strong>{{avg_sub_catch}} kg per person</strong>. 
        The average subsistence catch within the entire PACIOCEA region is <strong>{{tot_sub_catch}} kg per person</strong>.
      </p>
      {{/has_subsistence_catch}}
      <table data-paging="10">
        <thead>

          <tr>
            <th>Country</th>
            <th>Catch (kg per capita)</th>
          </tr>
        </thead>
        <tbody>
          {{#commercial_catch}}
          <tr>
            <td>{{COUNTRY}}</td>
            <td>{{KG_CAP}}</td>
          </tr>
          {{/commercial_catch}}
        </tbody>
</div>
<!-- <a href="#" data-toggle-node="53a0a31cd3f6064d2c17580c" data-visible="false">show layer</a> -->