{{#sketchClass.deleted}}
<div class="alert alert-warn" style="margin-bottom:10px;">
  This sketch was created using the "{{sketchClass.name}}" template, which is
  no longer available. You will not be able to copy this sketch or make new
  sketches of this type.
</div>
{{/sketchClass.deleted}}

<div class="reportSection size">
  <h4>A Note on Reporting</h4>
  <p class="large">
    For the EEZ statistics, the result is for the <strong>entire EEZ</strong>, and not only the part of the EEZ contained within the area of interest.</strong>.
  </p>
</div>
<div class="reportSection size">
  <h4>Size</h4>
  <p class="large">
    This {{#isCollection}}collection{{/isCollection}}{{^isCollection}} area of interest {{/isCollection}} is <strong>{{size}} square kilometers</strong>.
  </p>
</div>

<div class="reportSection tableContainer">
  <h4>Deep Sea </h4>
  <div class="in-report-header">Deep Sea Minerals: <a href="#" data-toggle-node="5450a05b4eb580f13c02c9d3" data-visible="false">show mineral layers
  </a></div>
  <table> 
    <thead>
      <tr>
        <th style="width:170px;">Type</th>
        <th>Area (sq. km)</a></th>
        <th>Area (% of total region)</th>
      </tr>
      {{#mining}}
      <tr>
        <td>{{TYPE}}</td>
        <td>{{SIZE_SQKM}}</td>
        <td>{{PERC_TOT}}</td>
      </tr>
      {{/mining}}
    </thead>
  </table>
  <div><a class="details" href="#">show details</a>
    <div class="hidden">
      <div class="list-header">The deep sea resources available for extraction are divided into 4 types:</div>
      <ol>
        <li>Polymetallic Nodules (Manganese, Copper, Nickel, Cobalt) - 4,000 - 6,000 m depth</li>
        <li>Cobalt-rich Manganese Crusts (Cobalt) - 800 - 3,000 m depth</li>
        <li>Sulphide Deposits (Copper) - 1,500 - 4,000 m depth</li>
        <li>Deep-sea mud (rare earth elements, yttrium) - 2,000 -6,000 m depth.</li>                                    
      </ol>
      <p>
          The DSM deposits are higher in mineral content than on-land deposits. Typical value of a tonne of land based ore is 50-200 USD, for sea floor deposits it’s 500-1500 USD. DSM mining in the PACIOCEA  has a strong potential.
      </p>
    </div>
  </div>

</div>

<div class="reportSection tableContainer">
  <h4>Coastal Fisheries </h4>
      <p class="large">
        The term coastal fishery resource means “any fishery, any species of fish, or any stock of fish that is broadly distributed across the coastal waters (12 nautical miles) under the jurisdiction of a country.
      </p>
      <div class="in-report-header">Coastal Catch: <a href="#" data-toggle-node="5450a05b4eb580f13c02c9e9" data-visible="false">show coastal catch layer</a></div>
      <table data-paging="10">
        <thead>
          <tr>
            <th colspan="2"></th>
            <th colspan="4">Catch (in tonnes)</th>
          </tr>
          <tr>
            <th>Country</th>
            <th>% of Total Coastal Catch</th>
            <th>Total</th>
            <th>Demersal </th>
            <th>Pelagic  </th>
            <th>Invertebrate </th>
          </tr>
        </thead>
        <tbody>
          {{#coastal_catch}}
          <tr>
            <td>{{COUNTRY}}</td>
            <td>{{PERC_TOT}}</td>
            <td>{{TOT_TONS}}</td>
            <td>{{DEM_TONS}}</td>
            <td>{{PEL_TONS}}</td>
            <td>{{INV_TONS}}</td>
          </tr>
          {{/coastal_catch}}
        </tbody>
      </table>
      <div><a class="details" href="#">show details</a>
        <div class="hidden">
            <p>
                Within the PACIOCEA region, the highest catch volumes are located in Papua New Guinea, Fiji, Kiribati, Federated States of Micronesia and Solomon Islands. Demersal species dominate the catch (33% to 75%). Demersal fisheries represent an important part of the total catch explained by the presence of lagoons and local fishing techniques
            </p>
          </div>
        </div>
    <div class="in-report-header">Coastal commercial catch vs. coastal subsistence catch</br>
      <a href="#" data-toggle-node="5450a05b4eb580f13c02c9eb" data-visible="false">show commercial/subsistence catch layer
      </a>
    </div>
      <table data-paging="10">
        <thead>

          <tr>
            <th>Country</th>
            <th>Commercial Catch (kg per capita)</th>
            <th>Subsistence Catch (kg per capita)</th>
          </tr>
        </thead>
        <tbody>
          {{#comm_sub_catch}}
          <tr>
            <td>{{COUNTRY}}</td>
            <td>{{COM_KG_CAP}}</td>
            <td>{{SUB_KG_CAP}}</td>
          </tr>
          {{/comm_sub_catch}}
        </tbody>
      </table>
      <div><a class="details" href="#">show details</a>
        <div class="hidden">
          <p>
              Within the PACIOCEA area, the coastal catch volume is largely dominated by subsistence fisheries. The largest per capita volume of coastal catch (both commercial and subsistence) is located over the smallest land areas. This fact can be related with the low potential of these countries to develop agriculture. Thus, coastal degradation of natural habitats and pollution increase can have repercussions on food security for smaller land area countries.
          </p>
        </div>
      </div>
</div>

<div class="reportSection tableContainer">
  <h4>Oceanic Fisheries 
    <a href="#" data-toggle-node="5450a05b4eb580f13c02c9e6" data-visible="false">show oceanic catch layers</a>
  </h4>
      <p>
        The term oceanic fishery resource means “any fishery, any species of fish, or any stock of fish that is broadly distributed across the exclusive economical zone (between 12 and 200 nautical miles) under the jurisdiction of a country.
      </p>
      <table data-paging="10">
        <thead>
          <tr>
            <th colspan="2"></th>
            <th colspan="2">Domestic Catch</th>
            <th colspan="2">Foreign Catch</th>
          </tr>
          <tr>
            <th>Country</th>
            <th>Total (tonnes)</th>
            <th>tonnes </th>
            <th>% of catch in EEZ</th>
            <th>tonnes</th>
            <th>% of catch in EEZ</th>
          </tr>
        </thead>
        <tbody>
          {{#ocean_catch}}
          <tr>
            <td>{{COUNTRY}}</td>
            <td>{{SK_TOT}}</td>
            <td>{{SK_DOM}}</td>
            <td>{{DOM_PERC}}</td>
            <td>{{SK_FRN}}</td>
            <td>{{FRN_PERC}}</td>
          </tr>
          {{/ocean_catch}}
        </tbody>
      </table>
      <div><a class="details" href="#">show details</a>
        <div class="hidden">
          <p>
              Western and Central Pacific offshore fisheries represent more than 60% of total worldwide fisheries and 80% of the Pacific tuna catch. Oceanic fisheries represent 90% of total sea food production in the PACIOCEA area. Foreign fleets dominate Northern oceanic catches. In the south of the PACIOCEA area the domestic catch represents more than 50 % of offshore fisheries. Highest total catch volumes are produced by Papua New Guinea, Kiribati and the Federated States of Micronesia.
          </p>
        </div>
      </div>
</div>
</div>
<div class="reportSection tableContainer">
  <h4>Aquaculture <a href="#" data-toggle-node="5450a05b4eb580f13c02c9ee" data-visible="false">show aquaculture layer</a>
  </h4>
      <table>
        <thead>
          <tr>
            <th>Country</th>
            <th>Prawns</th>
            <th>Oyster</th>
            <th>Shrimp</th>
            <th>Crab</th>
            <th>Tilapia</th>
            <th>Milkfish</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          {{#aqua}}
          <tr>
            <td>{{Country}}</td>
            <td>{{Prawn}}</td>
            <td>{{Oyster}}</td>
            <td>{{Shrimp}}</td>
            <td>{{Crab}}</td>
            <td>{{Tilapia}}</td>
            <td>{{Milkfish}}</td>
            <td>{{Total}}</td>
          </tr>
          {{/aqua}}
        </tbody>
      </table>
</div>
<div class="reportSection tableContainer">
  <h4>Fisheries and Aquaculture Economy</h4>
      <p>
        <strong>Fishery and Aquaculture economic value per country:</strong>&nbsp<a href="#" data-toggle-node="5450a05b4eb580f13c02c9e1" data-visible="false">show layer</a>
      </p>
      <table data-paging="10">
        <thead>
          <tr>
            <th colspan="1"></th>
            <th colspan="4">Catch in Million USD</th>
          </tr>
          <tr>
            <th>Country</th>
            <th>Coastal fisheries</th>
            <th>Aquaculture </th>
            <th>Domestic oceanic fisheries</th>
            <th>Foreign oceanic fisheries</th>
          </tr>
        </thead>
        <tbody>
          {{#fisheries}}
          <tr>
            <td>{{Country}}</td>
            <td>{{Coast}}</td>
            <td>{{Aqua}}</td>
            <td>{{Dom}}</td>
            <td>{{Foreign}}</td>
          </tr>
          {{/fisheries}}
        </tbody>
      </table>

      <p>
        <strong>Fisheries and Aquaculture share of GDP:</strong>&nbsp<a href="#" data-toggle-node="5450a05b4eb580f13c02c9df" data-visible="false">show layer</a>
      </p>
      <table>
        <thead>
          <tr>
            <th>Country</th>
            <th>GDP Value (%)</th>
          </tr>
        </thead>
        <tbody>
          {{#gdp_value}}
          <tr>
            <td>{{Country}}</td>
            <td>{{GDP}}</td>
          </tr>
          {{/gdp_value}}
        </tbody>
      </table>
      <p>
        <strong>Fisheries and Aquaculture share of Total Export:</strong>&nbsp<a href="#" data-toggle-node="5450a05b4eb580f13c02c9e3" data-visible="false">show layer</a>
      </p>
      <table>
        <thead>

          <tr>
            <th>Country</th>
            <th>Export Value (%)</th>
          </tr>
        </thead>
        <tbody>
          {{#export_value}}
          <tr>
            <td>{{Country}}</td>
            <td>{{Export}}</td>
          </tr>
          {{/export_value}}
        </tbody>
      </table>
      <div><a class="details" href="#">show details</a>
        <div class="hidden">
          <p>
              Within the PACIOCEA area, foreign and domestic oceanic fisheries dominate the total value of production, except for New Caledonia and French Polynesia where aquaculture is significant. Coastal fishery values are usually lower than oceanic values except for Fiji, Tonga, Wallis and Futuna and Tokelau.
          </p>
        </div>
      </div>



<div class="reportSection tableContainer">
  <h4>Tourism</h4>
    <p class="large">
      Tourism accounted for an average of <strong>{{gdp_percent}}%</strong> of the GDP of the countries within the sketch. {{#has_cruiseship_visits}}This includes <strong>{{cruise_ships}}</strong> cruise ship visits, which is <strong>
      {{cruise_ships_perc}}%</strong> of the cruise ship visits within the PACIOCEA region.
      {{/has_cruiseship_visits}}
      {{^has_cruiseship_visits}}There were <strong>no</strong> cruiseship visits to countries within the sketch.{{/has_cruiseship_visits}}
    </p>
    <p class="large">
      {{#has_international_tourists}}
      There were <strong>{{intl_tourist_arrival_total}}</strong> international tourists, which is <strong>
      {{intl_tourist_arrival_perc}}%</strong> of the international tourists within the PACIOCEA region. 
      {{/has_international_tourists}}
      {{^has_international_tourists}} There were <strong>no</strong> international tourists to the countries within the
      sketch.{{/has_international_tourists}}
    </p>
    <div class="in-report-header">Change in Tourism:</div>
      <table>
        <thead>
          <tr>
            <th>Number of Countries where Tourism Decreased</th>
            <th>Number of Countries where Tourism Increased by < 100%</th>
            <th>Number of Countries where Tourism Increased by > 100%</th>
          </tr>
        </thead>
        <tbody>
          {{#tourist_arrivals}}
          <tr>
            <td>{{DEC}}</td>
            <td>{{LESS100}}</td>
            <td>{{MORE100}}</td>
          </tr>
          {{/tourist_arrivals}}
        </tbody>
      </table>

    <div class="in-report-header">Tourism vs Population:</div>
      <table>
        <thead>
          <tr>
            <th>Number of Countries where number of Tourists visiting is Greater than Population</th>
          </tr>
        </thead>
        <tbody>
          {{#tourist_pop}}
          <tr>
            <td>{{TOUR_POP}}</td>
          </tr>
          {{/tourist_pop}}
        </tbody>
      </table>
</div>
<div class="reportSection tableContainer">
  <h4>Energy</h4>
      <div class="in-report-header">Fuel Imports: &nbsp<a href="#" data-toggle-node="5450a05b4eb580f13c02c9d0" 
        data-visible="false">show fuel import layer</a></div>
        <table>
          <thead>
              <tr>
                <th>Country</th>
                <th>% of GDP from Fuel from Imports</th>
              </tr>
          </thead>
          <tbody>
            {{#fuel_import}}
            <tr>
              <td>{{Country}}</td>
              <td>{{Fuel}}</td>
            </tr>
            {{/fuel_import}}
          </tbody>
        </table>
      <div><a class="details" href="#">show details</a>
        <div class="hidden">
          <p>
            Until this decade, all the countries’ energy supply depended on petroleum and in consequence relied heavily on import. Fuel import can represent from 5% of GDP (Papua New Guinea) to 28% of the GDP (Cook Islands). Changes in the demand, including for the service sector, pose an increasing threat to energy security for Pacific populations.
          </p>
        </div>
      </div>
    <div class="in-report-header">Renewable Energy: &nbsp<a href="#" data-toggle-node="5450a05b4eb580f13c02c9d2" 
      data-visible="false">show renewable energy layer</a></div>
      <table>
        <thead>
          <tr>
            <th>Country</th>
            <th>% of Electricity generated by Renewable Energy</th>
          </tr>
        </thead>
        <tbody>
          {{#renewable_energy}}
          <tr>
            <td>{{Country}}</td>
            <td>{{Renew}}</td>
          </tr>
          {{/renewable_energy}}
        </tbody>
      </table>
        <div><a class="details" href="#">show details</a>
        <div class="hidden">
          <p>
            The ocean could produce energy via the implementation of new technologies. Thermal technology and wave energy conversion are estimated the most fruitful potential new resources. Even if these solutions are recent and devices are still expensive, in the long term, they should offer a very competitive alternative to fossil fuel. Moreover, the Pacific could be a key region in the development of some of these solutions by allowing the industry to mature and become competitive. A Framework for Action on Energy Security in the Pacific was established under the guidance of SPC with CROP agencies.
          </p>
        </div>

</div>


